*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
h2 { 
	text-align: center }
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;

}

.header_topline{
	background-color: #43484C;
	padding: 25px 0;
	color: #fff;
}
.logotip{
	display: inline-block;
	float: left;
	margin-left: 40px;
	margin-top: 18px;
}
.logotip a{
	outline: none;
}
.logotext {
	display: inline-block;
	text-decoration: middle;
	padding-top: 10px;
	margin-left: 10px;
	font-family: "BeerRegular";
}
.logotext a{
	font-size: 38px;
	color: #56c3ff;
	float: left;
	outline: none;
}
.logotext_down {
	display: inline-block;
	text-decoration: middle;
	padding-top: 10px;
	margin-left: 10px;
}
.logotext_down a{
	font-size: 20px;
	color: #fff;
	float: left;
	word-wrap: break-word;
	outline: none;
}
.top_links{
	padding-top: 10px;
	float: right;
	margin-top: 10px;
	margin-left: 2px;
}
.top_links a{
	text-decoration: underline;
	color: #fff;
	outline: none;
}
.top_links a:hover{
	text-decoration: none;
}
.auth_buttons_new_user{
	border: none;
	background-color: transparent;
	float: right;
	font-size: 28px;
}
.auth_buttons_registration{
	border: none;
	background-color: transparent;
	float: right;
	font-size: 28px;
}
.menu_bar{
	background-color: #eee;
}
.main_menu{

	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #dd3836;
	color: #fff;
	padding: 0;
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
}
.main_menu a{
	color: #fff;
	display: block;
	padding: 15px 10px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	outline: none;

}
.active a{
	padding-left: 20px;
	border-bottom-left-radius: 20px;
	outline: none;
}
.from_site a{
	border-bottom-right-radius: 20px;
}
.main_menu a:hover{
	background-color: #d91d1b;
}
.main_menu ul{
	margin: 0px 0px 0px -15px;
	padding: 0;
	list-style-type: none;
	float: left;
}
.main_menu ul li{
	display: inline-block;
}
.from_site{
	padding-top: 9px;
	float: right;
}
.button_menu{
	border: none;
	background-color: transparent;
	float: left;
	font-size: 28px;
}
.button_nav a{
	display: block;
	background-color: #fff;
	color: #43484c;
	padding: 10px 20px;
	margin-top: 5px;
	border-radius: 20px;
	border: none;
	text-transform: uppercase;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .45);
	float: right;
	margin-right: 60px;
}
.button_nav:hover a{
	background-color:#d91d1b;
	color: #fff;
}
.button_price a{
	display: block;
	background-color: #fff;
	color: #43484c;
	padding: 10px 20px;
	margin-top: 5px;
	border-radius: 20px;
	border: none;
	text-transform: uppercase;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .45);
	float: right;
	margin-right: 195px;
}
.button_price:hover a{
	background-color:#d91d1b;
	color: #fff;
}
.left-saidbar{
	min-width: 160px;
	background-color: #dd3836;
	float: left;
	margin-top: 20px;
	padding: 0;
	border-radius: 20px;
	border: 1px solid grey;
}
.left-saidbar a{
	min-width: 160px;
	color: #fff;
	display: block;
	padding: 15px 10px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.left-saidbar a:hover{
	background-color: #d91d1b
}
.left-saidbar ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	text-align: center;
}
.left_aside{
	background-color: white;
	float: left;
	margin-top: 20px;
	padding: 0;
	border-radius: 20px;
	border: 1px solid grey;
	height: 200px;
	width: 160px;
}
.content_aside{
	margin: 5px;
	text-align: center;
}
.content_aside hr{
	margin-top: 7px;
	margin-bottom: 7px;

}
.content_aside a{
	text-decoration: underline;
	margin: 0;	
}
.content_aside a:hover{
	text-decoration: none;	
}
.content_aside h4{
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	
}
.first_left_button{
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
.last_left_button{
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.main_content{
	margin-top: 8px;
	border-radius:5px; 
  	background:RGBA(255,255,255,1);        
  	box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
	background-color: white;
	border: 1px solid grey;
	margin-bottom: 20px;
}
.text_img_offer {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.text_img_offer:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.text_img_offer a{
	outline: none;
}
.text_con_offer ul{
 	text-align: center;
 	padding-left: 0px;
 	list-style-type: none;
}
.text_con_offer h3{
 	text-align: center;
}
.text_item{
	margin: 0 20px 20px 30px;
}
.text_item img{
	max-width: 100%;
}
.text_item h2{
	text-transform: uppercase;
	font-family: "RobotoLight";
	margin-bottom: 10px;
}
.text_item h2 a{
	text-decoration: underline;
}
.text_con{
	float: left;
	text-indent: 20px;
}
.footer_main{
	background-color: #43484c;
	padding: 10px;
}
.social_buttons{
	display: inline-block;	
	vertical-align: middle;
	float: right;
	width: 15px;
	padding-top: 38px;
	margin-right: 280px;
	font-size: 22px;

}

.copirater{
	color: #fff;
	float: right;
	padding-top: 10px;
}
section.order{
	background-color: #eee;
	position: relative;
	min-height: 100%;
}
.footer_main{
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
}
html,
body {
	height: 100%;
}
.breadcrumb {
	font-size: 14px;
	padding-top: 10px;
	margin: 0;
	list-style: none;
	background-color: #eee;
}
.breadcrumb > li {
	display: inline-block;
}
.breadcrumb > li + li:before {
	padding: 0 5px;
	color: #eee;
	content: "/\00a0";
}
.breadcrumb > .active {
	color: #000;
}
.breadcrumb a{
	color: #56c3ff;
}
.sider_container img {
	max-width: 99%;
}
.sider_container {
	position: relative;
}
.next_button, .prev_button {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 15em;
	color: #fff;
	cursor: pointer;
	font-size: 42px;
	padding: 0px 20px;
	position: absolute;
	top: 50%;
	z-index: 10;
}
.next_button {
	right: 20px;
}
.prev_button {
	left: 20px;
}
.pop_form_div {
  margin:0 auto;
  max-width:50%;
  box-sizing:border-box;
  padding:40px; 
  float: left;
}

.pop_form_right{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 160px;
}
.pop_form_right a{
	outline: none;
}
.pop_form2{
  margin:0 auto;
  max-width:90%;
  
}
.pop_form h3{
	text-align: center;
}
.pop_form2 h3{
	text-align: center;
}
/* Стили полей ввода */
.textbox{
  height:50px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
  font-size:18px; 
  padding:10px;
  margin-bottom:15px;  
}
.message:focus,
.textbox:focus{
  outline:none;
   border:rgba(24,149,215,1) 2px solid;
   color:rgba(24,149,215,1);
}
/* Стили текстового поля */
.message{
    background: rgba(255, 255, 255, 0.4); 
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    -moz-border-radius: 3px;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    display:block;
    padding:10px;
    margin-bottom:30px;
    overflow:hidden;
}
/* Базовые стили кнопки */
.button{
  height:50px;
  width:40%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  background:#dd3836;
  color:#FFF;
  font-family: 'Open Sans', sans-serif;  
  font-weight:400;
  font-size: 16pt;
  transition:background .4s;
  cursor:pointer;
  float: right;
}
/* Изменение фона кнопки при наведении */
.button:hover{
  background:rgba(24,149,215,1);
  overflow:hidden;
}
.hidden{
	display: none;
}
